:root {
  overscroll-behavior: none;
  --top-bar-control-margin: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #eee;
    --text-color: #333;
    --selection-color: rgba(100, 149, 237, 0.15);
    --bg-main: #eee;
    --bg-canvas: #fff;
    --bg-controls: #f8f8f8;
    --border-color: #ccc;
    --border-canvas: #ccc;
    --button-bg: #fff;
    --button-hover: #f0f0f0;
    --button-active: #e0e0e0;
    --waveform-color: #333;
    --waveform-color-lighter: #bbb;
    --zero-line-color: #d0d0d0;
    --separator-color: #999;
    --slider-thumb-color: var(--text-color);
    --cursor-color: #f00;
    --scope-grid-color: #e8e8e8;
    --scope-label-color: #777;
    --scope-trace-color: #d000b8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #e0e0e0;
    --selection-color: rgba(100, 149, 237, 0.15);
    --bg-main: #222;
    --bg-canvas: #0a0a0a;
    --bg-controls: #1b1b1b;
    --border-color: #444;
    --border-canvas: #666;
    --button-bg: #2a2a2a;
    --button-hover: #333;
    --button-active: #444;
    --waveform-color: #d0d0d0;
    --waveform-color-lighter: #999;
    --zero-line-color: #666;
    --separator-color: #666;
    --slider-thumb-color: var(--separator-color);
    --cursor-color: #ff6666;
    --scope-grid-color: #202820;
    --scope-label-color: #829082;
    --scope-trace-color: #ff4fe1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

html {
  font-size: 12px;
  overflow: hidden;
}

body {
  background: var(--bg-main);
  color: var(--text-color);
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100vh;
}

button {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background: var(--button-hover);
}

button:active {
  background: var(--button-active);
}
