:root {
  --dummy-var: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #222;
    --selection-color: #b3d4fc;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ddd;
    --selection-color: #b3d4fc;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

html {
  font-size: 12px;
  overflow: hidden;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100vh;
}
